<%= "List of books needs to be checkin" %>
</br>
</br>

<% for(i in books) { %>
	<%x= JSON.parse(books[i]) %>
	<%= x.name %>
	<%= " --> " %>
	<%= x.description %>
	<a href="/checkin/in?u_id=<%=i%>&name=<%=x.name%>&desc=<%=x.description%>" >Checkin
	</a>
	</br>
	</br>
<% } %>

</br>
</br>
<a href="/">Home</a>