<%= "List of books available for checkout" %>
</br>
</br>

<% for(i in books) { %>
	<%x= JSON.parse(books[i]) %>
	<%= x.name %>
	<%= " --> " %>
	<%= x.description %>
	<a href="/checkout/out?u_id=<%=i%>&name=<%=x.name%>&desc=<%=x.description%>" >Checkout
	</a>
	</br>
	</br>
<% } %>

</br>
</br>
<a href="/">Home</a>